---
- name: Deploy searxng settings
  ansible.builtin.template:
    src: settings.yml.j2
    dest: /srv/searxng/settings.yml
    mode: "0644"

- name: Deploy searxng limiter
  ansible.builtin.template:
    src: limiter.toml.j2
    dest: /srv/searxng/limiter.toml
    mode: "0644"

- name: Deploy valkey
  community.docker.docker_container:
    name: searxng_redis
    image: valkey/valkey:9.0.2-alpine
    pull: true
    recreate: true
    command: valkey-server --loglevel warning
    restart_policy: unless-stopped
    cap_drop:
      - ALL
    capabilities:
      - CHOWN
      - SETGID
      - SETUID
    networks:
      - name: searxng

- name: Deploy searxng
  community.docker.docker_container:
    name: searxng
    image: searxng/searxng@sha256:1502823ea918998e325d95f8c0cbd3db1dbd024da412dcce9f504e6244632b26
    pull: true
    recreate: true
    restart_policy: unless-stopped
    volumes:
      - /srv/searxng:/etc/searxng
      - /srv/searxng/settings.yml:/etc/searxng/settings.yml
      - /srv/searxng/limiter.toml:/etc/searxng/limiter.toml
    env:
      SEARXNG_BASE_URL: https://search.{{ domain }}
      SEARXNG_REDIS_URL: redis://searxng_redis
      SEARXNG_SECRET: "{{ searxng_secret }}"
    networks:
      - name: services
      - name: searxng
